<div class="container">
  <div class="dashboard">
    <h4 class="heading">HELLO <%= current_user.first_name.upcase %>!</h4>
    <div class="user-favourites">
      <h6 class="sub-heading">RECENT FAVOURITES %></h6>
      <div class="row" id="dashboard-row">
        <% @favourite_dishes.each do |favourite| %>
        <div class="col-sm-12">
          <div class="dashboard-card">
            <div class="dashboard-infos">
              <h6><%= favourite.dish.restaurant.name %> | <%= favourite.dish.restaurant.address %></h6>
              <p><%= link_to favourite.dish.name.upcase, restaurant_path(favourite.dish.restaurant.id) %></p>
              <p><%= favourite.dish.description %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="user-reviews">
      <h6 class="sub-heading">RECENT REVIEWS</h6>
      <div class="row" id="dashboard-row">
        <% @user_reviews.each do |review| %>
        <div class="col-sm-12">
          <div class="dashboard-card">
            <div class="dashboard-infos">
              <h6><%= link_to review.dish.name.upcase, restaurant_path(review.dish.restaurant.id) %> | <%= review.rating %></h6>
              <p><%= review.content %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div
  </div>
</div>
