<div class="tabs">
  <ul class="list-inline tabs-underlined">
    <li>
      <%= link_to "FAVOURITES", user_favourites_path(current_user), class: "tab-underlined active" %>
    </li>
    <li>
      <%= link_to "REVIEWS", user_reviews_path(current_user), class: "tab-underlined" %>
    </li>
  </ul>
</div>

<%= render 'shared/profile' %>


    <!-- fill in from show page -->
  <div class="favourite-dish-grid">
    <h2 class="sub-heading">YOUR FAVOURITES</h2>
    <% @favourite_dishes.each do |favourite| %>
      <div class="dish-card box-shadow-card individual-review" id="<%= favourite.dish.name.parameterize %>">
        <div class="dish-name-link text-center">
          <%= link_to favourite.dish.name.upcase, restaurant_path(favourite.dish.restaurant.id, anchor: "#{favourite.dish.name.parameterize}") %>
        </div>
        <div class="dish-description">
          <p><%= favourite.dish.restaurant.name %></p>
        </div>
        <div class="dish-description">
          <p><%= favourite.dish.description %></p>
        </div>
        <div class="favourite-button-links">
          <div class="dish-review-link dish-user-link">
            <div class="review-user-link">
              <%= link_to "REVIEW", new_dish_review_path(favourite.dish)%>
            </div>
          </div>
          <div class="delete-favourite-can">
            <%= link_to favourite_path(favourite), method: :delete, remote:true, class: "link" do %><i class="far fa-trash-alt"></i>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

















  <!-- <div class="user-favourites">
    <div class="row" id="dashboard-row">
      <% @favourite_dishes.each do |favourite| %>
        <div class="col-sm-12">
          <div class="dashboard-card">
            <div class="dashboard-infos" id="fav-infos">
            <div class="dish-title">
              <%= link_to favourite.dish.name.upcase, restaurant_path(favourite.dish.restaurant.id, anchor: "#{favourite.dish.name.parameterize}") %>
              <% if favourite.dish.dish_type == "Starter" %>
                <img class="dish-icon" src="https://www.flaticon.com/svg/static/icons/svg/1721/1721500.svg" alt="starter">
              <% elsif favourite.dish.dish_type == "Main" %>
                <img class="dish-icon" src="https://www.flaticon.com/svg/static/icons/svg/3014/3014425.svg" alt="main">
              <% elsif favourite.dish.dish_type == "Dessert" %>
                <img class="dish-icon" src="https://www.flaticon.com/svg/static/icons/svg/3111/3111148.svg" alt="dessert">
              <% elsif favourite.dish.dish_type == "Drink" %>
                <img class="dish-icon" src="https://www.flaticon.com/svg/static/icons/svg/887/887320.svg" alt="drink">
              <% end %>
            </div>
              <div class="dish-description">
                <p><%= favourite.dish.description %></p>
              </div>
              <div class="favourite-button-links">
                <%= link_to "REVIEW", new_dish_review_path(favourite.dish)%> | <%= link_to favourite_path(favourite), method: :delete, remote:true, class: "link" do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </div>
            </div>
            </div>
          </div>
        </div>
      <% end %>
  </div> -->
</div>



<!-- <div class="dashboard">
  <h4 class="heading">HELLO <%= current_user.first_name.upcase %>!</h4>
  <h6 class="sub-heading">RECENT FAVOURITES</h6>
  <div class="user-favourites">
    <div class="row" id="dashboard-row">
      <% @favourite_dishes.each do |favourite| %>
      <div class="col-sm-12">
        <div class="dashboard-card">
          <% if favourite.dish.dish_type == "Starter" %>
            <img src="https://www.flaticon.com/svg/static/icons/svg/1721/1721500.svg" alt="starter">
          <% elsif favourite.dish.dish_type == "Main" %>
            <img src="https://www.flaticon.com/svg/static/icons/svg/3014/3014425.svg" alt="main">
          <% elsif favourite.dish.dish_type == "Dessert" %>
            <img src="https://www.flaticon.com/svg/static/icons/svg/3111/3111148.svg" alt="dessert">
          <% elsif favourite.dish.dish_type == "Drink" %>
            <img src="https://www.flaticon.com/svg/static/icons/svg/887/887320.svg" alt="drink">
          <% end %>
          <div class="dashboard-infos">
            <!-- <h6><%= favourite.dish.restaurant.name %> | <%= favourite.dish.restaurant.address %></h6> -->
            <%#= link_to favourite.dish.name.upcase, restaurant_path(favourite.dish.restaurant.id) %>
            <p><%#= favourite.dish.description %></p>
  <!--         </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div> -->
