  <div class="profile-photo">
    <% if @user.photo.attached? %>
      <%= cl_image_tag(@user.photo.key, crop: :thumb, gravity: :face, class: "avatar profile-pic-critic") %>
    <% else %>
      <%= image_tag "https://res.cloudinary.com/dh6gdchfj/image/upload/v1606750645/blank-profile-picture.png", class: "avatar profile-pic-critic"%>
    <% end %>
  </div>

  <div class="achievements">
    <% if @user.critic? %>
      <div class="ach-style ach-critic"><i class="fas fa-pen-nib" id="flag-colour-size" style="margin-bottom: 4px;"></i>CRITIC</div>
    <% elsif @user.reviews.count < 3%>
      <div class="ach-style ach-one"><i class="fas fa-hand-sparkles" id="hand-spark"></i>L1: PORTER</div>
    <% elsif @user.reviews.count < 6 %>
      <div class="ach-style ach-two"><i class="fas fa-graduation-cap" id="grad-cap"></i>L2: COMMIS CHEF</div>
    <% elsif @user.reviews.count < 9 %>
      <div class="ach-style ach-three"><i class="fas fa-utensils" id="knife"></i>L3: SOUS CHEF</div>
    <% elsif @user.reviews.count < 12 %>
      <div class="ach-style ach-four"><i class="fas fa-gem" id="head-chef"></i>L4: HEAD CHEF</div>
    <% elsif @user.reviews.count > 12 %>
      <div class="ach-style ach-five"><i class="fas fa-bolt" id="bolt"></i></i>L5: EXEC CHEF</div>
    <% end %>
  </div>

  <div class="level-up">
    <div class="number-stars center-bar">
      <p id="level-left">LV1</p>
      <div class="bar-user-container">
          <div class="bar-colour-user" id="level-colour"></div>
      </div>
      <div class="rating-count-star level-padding">
        <p id="level-right">LV2</p>
      </div>
    </div>
  </div>

  <div class="reviews-to-go">
    <p><span id="reviews-left">3</span> reviews from their next badge</p>
  </div>

  <div class="user-stats box-shadow-card individual-review">
    <div class="us-one">
      <div class="rev-count">
        <h2> <%= @user.reviews.count %></h2>
      </div>
      <div>
        <p>REVIEWS</p>
      </div>
    </div>
    <div class="us-two"><h2><%= @user.find_emoji %></h2></div>
    <% top_rated = @user.reviews.select { |review| review.rating == 5} %>
    <div class="us-three">
      <div class="top-dish-count">
        <h2><%= top_rated.count %></h2>
      </div>
      <div class="dish-disco">
        <p>5🍴 DISHES DISCOVERED</p>
      </div>
    </div>
  </div>
