<h1>Pages#home</h1>

<div class="search-bar-restaurant">
  <%= form_tag restaurants_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form_control form-search form-search-colour", id: "form-button-search",
    placeholder: "Search for..."
    %>
    <%= submit_tag "Search Restaurant", class: "btn-search-home" %>
  <% end %>
</div>

<div class="search-bar-dishes">
  <%= form_tag dishes_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form_control form-search form-search-colour", id: "form-button-search",
    placeholder: "Search for..."
    %>
    <%= submit_tag "Search Dish", class: "btn-search-home" %>
  <% end %>
</div>
