<h1 class="text-center rest-name-show"> <%= params[:query2].upcase %> </h1>
<h1 class="text-center rest-name-show">DISHES</h1>
<div class="restaurant-dish-grid">
  <% @dishes.each do |dish| %>
      <div class="dish-card box-shadow-card individual-review" id="<%= dish.name.parameterize %>">
        <div class="dish-name text-center">
          <h2><%= dish.name %></h2>
        </div>
        <div class="dish-allergen">
          <p><%= dish.restaurant.name %></p>
        </div>
        <div class="dish-description">
          <p><%= dish.description %></p>
        </div>
        <div class="dish-average-rating">
          <% if dish.average_review.zero? %>
            <p class="no-reviews">NO REVIEWS</p>
          <% else %>
            <%= dish.average_review.round(1) %>
          <% end %>
        </div>
        <div class="dish-rating-icons-size">
          <p id="rating-margin"><%="ðŸ´" * dish.average_review%></p>
        </div>
        <div class="dish-review-link">
          <%= link_to "REVIEW", new_dish_review_path(dish)%>
        </div>
      </div>
  <% end %>
</div>
