<h1>Restaurants</h1>
<% @Restaurants.each do |Restaurant|%>
  <h6><%= Restaurant.name %> / <%= Restaurant.cuisine %> / <%= Restaurant.address %> / <%= Restaurant.website %> / <%= Restaurant.phone_number %></h6>
  <% end %>
