<div class="restaurant-index-page">
  <h1>Restaurants</h1>
  <% @restaurants.each do |restaurant| %>
    <%= cl_image_tag("ginger-roma_wqkel5") %>
    <%= restaurant.name %> / <%= restaurant.cuisine %> / <%= restaurant.address %> / <%= restaurant.website %> / <%= restaurant.phone_number %>
    <% end %>
</div>
