<div class="restaurant-index-page">
  <div class="padding-page">
  <h1>Restaurants</h1>
  <div class="search-container">
    <div class="search-container-restaurant">
      <div class="btn-search-home" id="restaurant-button">SEARCH RESTAURANTS</div>
      <div class="search-bar-restaurant hidden">
        <%= form_tag restaurants_path, method: :get do %>
          <%= text_field_tag :query1,
          params[:query1],
          class: "form_control form-search form-search-colour", id: "form-button-search-restaurant",
          placeholder: "Search", html:{ autocomplete: "off" }
          %>
        <% end %>
      </div>
   </div>

   <div class="search-container-dish">
      <div class="btn-search-home btn-margin" id="dish-button">SEARCH DISHES</div>
      <div class="search-bar-dishes hidden">
        <%= form_tag dishes_path, method: :get do %>
          <%= text_field_tag :query2,
          params[:query2],
          class: "form_control form-search form-search-colour", id: "form-button-search-dish",
          placeholder: "Search", html:{ autocomplete: "off" }
          %>
        <% end %>
      </div>
    </div>
  </div>
  </div>
  <% if @restaurants.empty? %>
    <p>Your search does not return a valid result, explore our best restaurants</p>
  <% else %>
    <div class="restaurant-card">
      <div id="map" class="map-margin-top"
         style="width: 100%; height: 300px; padding: 15px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant) do %>
        <div class="restaurant-card individual-review box-shadow-card">
          <div class="restaurant-image">
            <% if restaurant.photo.attached? %>
              <%= image_tag(restaurant.photo) %>
            <% else %>
              <%= cl_image_tag("Bao_ffjdtz") %>
            <% end %>
          </div>
          <div class="restaurant-data">
            <div class="restaurant-name">
              <p> <%= restaurant.name %> </p>
            </div>
            <div class="restaurant-cuisine">
              <p> <%= restaurant.cuisine %> </p>
            </div>
            <div class="restaurant-data">
              <li><%= restaurant.address %> / <%= restaurant.phone_number %></li>
              <li><%= restaurant.website %></li>
            </div>
          </div>
        </div>
      <% end %>
      <div class="border-rest-card">
      </div>
      <% end %>
  <% end %>
 </div>
 </div>
</div>
