<h1>Restaurants</h1>
<% @restaurants.each do |restaurant| %>
  <h6><%= restaurant.name %> / <%= restaurant.cuisine %> / <%= restaurant.address %> / <%= restaurant.website %> / <%= restaurant.phone_number %></h6>
  <% end %>
