<div class="restaurant-index-page">
  <h1>Restaurants</h1>
  <div class="search-container">
    <div class="search-bar-restaurant">
      <%= form_tag restaurants_path, method: :get do %>
        <%= text_field_tag :query1,
        params[:query1],
        class: "form_control form-search form-search-colour", id: "form-button-search",
        placeholder: "Search"
        %>
        <%= submit_tag "Restaurant", class: "btn-search-home" %>
      <% end %>
    </div>

    <div class="search-bar-dishes">
      <%= form_tag dishes_path, method: :get do %>
        <%= text_field_tag :query2,
        params[:query2],
        class: "form_control form-search form-search-colour", id: "form-button-search",
        placeholder: "Search"
        %>
        <%= submit_tag "Dish", class: "btn-search-home" %>
      <% end %>
    </div>
  </div>
  <% if @restaurants.empty? %>
    <p>Your search does not return a valid result, explore our best restaurants</p>
  <% else %>
    <div class="restaurant-card">
      <div id="map"
         style="width: 100%; height: 300px; padding: 15px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant_path(restaurant) do %>
        <div class="restaurant-card">
          <div class="restaurant-image">
            <%= cl_image_tag("Bao_ffjdtz") %>
          </div>
          <div class="restaurant-data">
            <div class="restaurant-name">
              <%= restaurant.name %>
            </div>
            <div class="restaurant-cuisine">
              <%= restaurant.cuisine %>
            </div>
            <div class="restaurant-data">
              <li><%= restaurant.address %> / <%= restaurant.phone_number %></li>
              <li><%= restaurant.website %></li>
            </div>
          </div>
        </div>
      <% end %>
      <div class="border">
      </div>
      <% end %>
  <% end %>
 </div>
</div>
