<h1 class="text-center"><%= @restaurant.name %> </h1>

<div class="restaurant-dish-grid">
  <% @restaurant.dishes.each do |dish| %>
  <div class="dish-card">
    <div class="dish-name">
      <h2><%= dish.name %></h2>
    </div>
    <div class="dish-description">
      <p><%= dish.description %></p>
    </div>
    <div class="dish-average-rating">
      <% sum = 0.0 %>
      <% dish.reviews.each do |review| %>
        <% sum += review.rating %>
        <% sum %>
      <% end %>
      <% if sum >= 1 %>
        <% average =  (sum / dish.reviews.count) %>
        <%= average.round(1) %>
      <% else %>
        <p>No Ratings yet!</p>
      <% end %>
    </div>
    <div class="dish-rating-icons">
      <p id="rating-margin"><%="ðŸ´" * average.to_f.round()%></p>
    </div>
    <div class="dish-review-link">
        <%= link_to "Add review", new_dish_review_path(dish) %>
    </div>
  </div>
  <% end %>
</div>
