<% if @user == current_user %>
  <div class="tabs">
    <ul class="list-inline tabs-underlined">
      <li>
        <%= link_to "FAVOURITES", user_favourites_path(current_user), class: "tab-underlined" %>
      </li>
      <li>
        <%= link_to "REVIEWS", user_reviews_path(current_user), class: "tab-underlined active" %>
      </li>
    </ul>
  </div>

  <%= render 'shared/profile' %>

  <div class="favourite-dish-grid">
    <h2 class="sub-heading">YOUR REVIEWS</h2>
    <% @user.reviews.order(created_at: :desc).each do |review| %>
      <% if review.rating == 5 %>
        <div class="dish-card box-shadow-card individual-review user-review-five" id="<%= review.dish.name.parameterize %>">
      <% else  %>
        <div class="dish-card box-shadow-card individual-review" id="<%= review.dish.name.parameterize %>">
      <% end %>
        <div class="dish-name-link text-center">
          <%= link_to review.dish.name.upcase, restaurant_path(review.dish.restaurant.id, anchor: "#{review.dish.name.parameterize}") %>
        </div>
        <div class="dish-description">
          <p><%= review.dish.restaurant.name.upcase %></p>
        </div>
        <div class="dish-description">
          <p><%= review.content %></p>
        </div>
        <div class="dish-rating-icons-size">
          <p id="rating-margin"><%="ðŸ´" * review.rating %></p>
        </div>
        <p class="review-visit date-visit-padding"><%= review.created_at.strftime("%b %d, %Y") %></p>
        <div class="favourite-button-links">
          <%= link_to review_path(review), method: :delete, remote:true, class: "link" do %>
              <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

<% else %>

  <div class="dashboard">
    <div class="profile-banner">
      <h1 class="heading" id="profile-color"><%= @user.first_name.upcase %> <%= @user.last_name.upcase %>'s </h1>
      <h2 class="sub-heading">RECENT REVIEWS</h2>
    </div>
      <%= render 'shared/external_profile' %>
    <div class="favourite-dish-grid">
    <% @user.reviews.order(created_at: :desc).each do |review| %>
      <% if review.rating == 5 %>
        <div class="dish-card box-shadow-card individual-review user-review-five" id="<%= review.dish.name.parameterize %>">
      <% else  %>
        <div class="dish-card box-shadow-card individual-review" id="<%= review.dish.name.parameterize %>">
      <% end %>
          <div class="dish-name-link text-center">
            <%= link_to review.dish.name.upcase, restaurant_path(review.dish.restaurant.id, anchor: "#{review.dish.name.parameterize}") %>
          </div>
          <div class="dish-description">
            <p><%= review.dish.restaurant.name.upcase %></p>
          </div>
          <div class="dish-description">
            <p><%= review.content %></p>
          </div>
          <div class="dish-rating-icons-size">
            <p id="rating-margin"><%="ðŸ´" * review.rating %></p>
          </div>
          <p class="review-visit date-visit-padding"><%= review.created_at.strftime("%b %d, %Y") %></p>
          <div class="heart-position">
            <%= link_to dish_favourites_path(review.dish), method: :post, remote:true, class: "link" do%>
              <i class="far fa-heart margin-heart"></i>
            <% end %>
          </div>
        </div>
          <% end %>
        </div>
    </div>
<% end %>






  <!-- <div class="user-favourites">
    <h2 class="sub-heading">YOUR REVIEWS</h2>
    <div class="row" id="dashboard-row">
      <% @user.reviews.order(created_at: :desc).each do |review| %>
      <div class="col-sm-12">
        <div class="dashboard-card">
          <div class="dashboard-infos" id="review-info">
            <% if review.rating == 1 %>
              <%= link_to review.dish.name.upcase, restaurant_path(review.dish.restaurant.id, anchor: "#{review.dish.name.parameterize}") %> <i class="fas fa-star"></i>
            <% elsif review.rating == 2 %>
              <%= link_to review.dish.name.upcase, restaurant_path(review.dish.restaurant.id, anchor: "#{review.dish.name.parameterize}") %> | <i class="fas fa-star"></i> <i class="fas fa-star"></i>
            <% elsif review.rating == 3 %>
              <%= link_to review.dish.name.upcase, restaurant_path(review.dish.restaurant.id, anchor: "#{review.dish.name.parameterize}") %> | <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
            <% elsif review.rating == 4 %>
              <%= link_to review.dish.name.upcase, restaurant_path(review.dish.restaurant.id, anchor: "#{review.dish.name.parameterize}") %> | <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
            <% elsif review.rating == 5 %>
              <%= link_to review.dish.name.upcase, restaurant_path(review.dish.restaurant.id, anchor: "#{review.dish.name.parameterize}") %> | <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
            <% end %>
            <p><%= review.dish.restaurant.name.upcase %> | <%= review.dish.restaurant.address %></p>
            <p><%= review.content %></p>
            <%= link_to review_path(review), method: :delete, remote:true, class: "link" do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div> -->
  <!-- <div class="tabs">
    <ul class="list-inline tabs-underlined">
      <li>
        <%= link_to "REVIEWS", user_reviews_path(current_user), class: "tab-underlined active" %>
      </li>
    </ul>
  </div> -->
<!--   <div class="dashboard">
    <div class="profile-banner">
      <h1 class="heading"><%= @user.first_name.upcase %> <%= @user.last_name.upcase %>'s </h1>
      <h2 class="sub-heading">RECENT REVIEWS</h2>
    </div> -->

  <!-- <div class="dashboard">
    <div class="profile-banner">
      <h1 class="heading"><%= @user.first_name.upcase %> <%= @user.last_name.upcase %>'s </h1>
      <h2 class="sub-heading">RECENT REVIEWS</h2>
    </div>
      <%= render 'shared/external_profile' %>
    <div class="user-favourites">
      <div class="row" id="dashboard-row">
        <% @user.reviews.order(created_at: :desc).each do |review| %>
        <div class="col-sm-12">
          <div class="dashboard-card">
            <div class="dashboard-infos" id="review-info">
              <% if review.rating == 1 %>
                <%= link_to review.dish.name.upcase, restaurant_path(review.dish.restaurant.id, anchor: "#{review.dish.name.parameterize}") %> | <i class="fas fa-star"></i>
              <% elsif review.rating == 2 %>
                <%= link_to review.dish.name.upcase, restaurant_path(review.dish.restaurant.id, anchor: "#{review.dish.name.parameterize}") %> | <i class="fas fa-star"></i> <i class="fas fa-star"></i>
              <% elsif review.rating == 3 %>
                <%= link_to review.dish.name.upcase, restaurant_path(review.dish.restaurant.id, anchor: "#{review.dish.name.parameterize}") %> | <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
              <% elsif review.rating == 4 %>
                <%= link_to review.dish.name.upcase, restaurant_path(review.dish.restaurant.id, anchor: "#{review.dish.name.parameterize}") %> | <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
              <% elsif review.rating == 5 %>
                <%= link_to review.dish.name.upcase, restaurant_path(review.dish.restaurant.id, anchor: "#{review.dish.name.parameterize}") %> | <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
              <% end %>
              <p><%= review.content %></p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div> -->


