<div class="review-container">
  <h4>ADD YOUR REVIEW</h4>
  <!-- simple form to create a review for a dish -->
  <%= simple_form_for [@dish, @review] do |f| %>
    <%= f.input :title, label: "Title" %>
    <%= f.input :content, label: "Write your review" %>
    <%= f.input :rating, collection: 0..5, label: "Rating" %>
    <%= f.input :visit_date, as: :date, html5: true, label: "Date of visit"%>
    <div class="d-flex align-items-center justify-content-between", id="form-buttons">
      <div class="back-button">
        <%= link_to "Back", restaurant_path(@dish.restaurant) %>
      </div>
      <%= f.submit class: 'btn btn-primary', id: 'form-button' %>
    </div>
  <% end %>

</div>
