<!DOCTYPE html>
<html>
  <head>
    <title>DishAdvisor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Vast+Shadow&display=swap" rel="stylesheet">


  </head>

<%= favicon_link_tag asset_path('imageedit_4_9747438364_w2ou3e.png') %>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div style="padding-top: 15px">
    </div>
    <%= yield %>
  </body>
</html>
